@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root{
  --screen-width: 100vw;
  --max-height: 100vh;
}

/* font family */
body {
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  align-items: center;
}

/* container */
.container {
  height: fit-content;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* heading */
h1 {
  display: flex;
  align-content: center;
  align-items: center;
}

#title {
  font-size: calc(var(--screen-width)/12);
  margin: 10px;
}

#downloadText {
  font-size: 0.8em;
  margin: 0;
}

a:link {
  color: #3e8e41;
  text-decoration: none;
}

a:visited {
  color: #3e8e41;
  text-decoration: none;
}

#download {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-decoration: none;
}

#download:active {
  box-shadow: none;
  transform: translateY(2px);
}

/* game board */
#game,
#game-message,
#radios,
.iterations {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  align-self: center;
}

#game-message,
#radios{

  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#game-message {
  font-size: calc(var(--screen-width)/20);
  font-weight: bold;
  text-align: center;
  color: #2a2a2a;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: calc(var(--screen-width)/5);
  height:calc(var(--screen-width)/5);
  font-size: calc(var(--screen-width)/10);
  border: 2px solid #cccccc;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cell:hover {
  background-color: #f1f1f1;
}

.cell:active {
  background-color: #e1e1e1;
}

.cell.winner {
  color: #ffffff;
  background-color: #58b368;
}

.redblack {
  background: linear-gradient(to right, red 50%, black 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.redblue {
  background: linear-gradient(to right, red 0%, red 50%, blue 50%, blue 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* game options */
#options {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 30px;
}

#radios {
  align-self: center;
  margin-top: 30px;
}

#options div {
  margin-bottom: 20px;
}

.buttonn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* buttons */
button {
  background-color: #58b368;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: calc(var(--screen-width)/30);
  margin-right: 30px;
  margin-left: 30px;
}

button:hover {
  background-color: #48a358;
}

button:active {
  background-color: #408e48;
}

button.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
}

input[type="radio"]:checked {
  border-color: #58b368;
}

input[type="radio"]:focus {
  border-color: #58b368;
}

label {
  font-size: calc(var(--screen-width)/35);
  cursor: pointer;
}

#radios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1px;
}

.radioo:nth-child(1),
.radioo:nth-child(2) {
  grid-row: 1;
}

.radioo:nth-child(2),
.radioo:nth-child(4) {
  grid-row: 2;
}

.Showb {
  border-color: #58b368;
  box-shadow: 0 0 10px 0 #58b368;
  background-color: #ffffff;
}

.iterations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  margin: 1px;
  margin-top: calc(var(--max-height)/50);
  font-size: calc(var(--screen-width)/30);
}

.with,
.without {
  margin: 5px;
  color: #58b368;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
